$font-size: 16px;
$font-size-large: 21px;
$font-weight-bold: 800;

$box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);

$outline: 1px solid blue;

$card-height: 90px;
$card-height-mobile: 60px;
$card-height-small-mobile: 40px;

$card-padding: 20px;
$card-padding-mobile: 7px;

$shape-height: 60px;
$shape-height-mobile: 40px;
$shape-height-small-mobile: 27px;

$red: #e74c3c;
$green: #27ae60;
$purple: #8e44ad;

$game-width: 800px;

.bold {
  font-weight: $font-weight-bold;
}

$mobile-width: 768px;

@mixin small-mobile {
  @media only screen and (max-width: 400px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
